/* 基础布局 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* 定义颜色变量 */
:root {
  --background-color: #f4f4f4;
  --text-color: black;
  --sidebar-background: #f4f4f4;
  --breadcrumb-background: #eee;
  --button-background: transparent;
  --button-color: black;
}

.dark {
  --background-color: #333;
  --text-color: white;
  --sidebar-background: #333;
  --breadcrumb-background: #444;
  --button-background: transparent;
  --button-color: white;
}

/* 侧边栏样式 */
#sidebar {
  width: 200px;
  background-color: var(--sidebar-background);
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  transition: width 0.3s ease;
}

#sidebar.collapsed {
  width: 40px;
  overflow: hidden;
}

/* 面包屑导航容器 */
#breadcrumb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--breadcrumb-background);
  padding: 10px;
  flex-shrink: 0;
  color: var(--text-color);
}

/* 面包屑导航 */
#breadcrumb {
  margin: 0;
}

/* 主题切换按钮样式 */
.theme-toggle-btn {
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--button-background);
  border: none;
  font-size: 20px;
  color: var(--button-color);
}

/* 内容区域 */
#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#content-frame {
  flex-grow: 1;
  width: 100%;
  border: none;
}

/* 自动展开感应区 */
#edge-hover-zone {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 5px;
  z-index: 10;
}

/* 隐藏元素 */
.hidden {
  display: none;
}
