/* 基础布局 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* 定义颜色变量 */
:root {
  --background-color: #f4f4f4;
  --text-color: black;
  --sidebar-background: #f4f4f4;
  --breadcrumb-background: #eee;
  --button-background: transparent;
  --button-color: black;
}

.dark {
  --background-color: #333;
  --text-color: white;
  --sidebar-background: #333;
  --breadcrumb-background: #444;
  --button-background: transparent;
  --button-color: white;
}

/* 侧边栏样式 */
#sidebar {
  width: 200px;
  background-color: var(--sidebar-background);
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  transition: width 0.3s ease;
  white-space: nowrap;
}

#sidebar.collapsed {
  width: 40px;  /* 更窄的宽度 */
  overflow: hidden;
}

/* 菜单项 */
.menu-group, .submenu-item {
  font-weight: bold;
  cursor: pointer;
  padding-left: 18px;
  position: relative;
  white-space: nowrap; /* 防止换行 */
  overflow: hidden;
  text-overflow: ellipsis; /* 文本超出时显示省略号 */
  transition: padding-left 0.3s ease;
}

.menu-group::before {
  content: '▶';
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.2s ease;
}

.menu-group.expanded::before {
  content: '▼';
}

/* 子菜单项 */
.submenu {
  margin-left: 16px;
  transition: all 0.2s ease;
}

.submenu-item {
  margin: 4px 0;
  cursor: pointer;
  padding-left: 8px;
}

.submenu-item:hover {
  background-color: #ddd;
}

/* 侧边栏折叠时，调整字体大小和可见度 */
#sidebar.collapsed .menu-group,
#sidebar.collapsed .submenu-item {
  padding-left: 10px;  /* 减小缩进 */
  font-size: 12px;  /* 调整字体大小 */
  text-align: center; /* 文本居中 */
}

/* 面包屑导航容器 */
#breadcrumb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--breadcrumb-background);
  padding: 10px;
  flex-shrink: 0;
  color: var(--text-color);
}

/* 面包屑导航 */
#breadcrumb {
  margin: 0;
}

/* 主题切换按钮样式 */
.theme-toggle-btn {
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--button-background);
  border: none;
  font-size: 20px;
  color: var(--button-color);
}

/* 内容区域 */
#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#content-frame {
  flex-grow: 1;
  width: 100%;
  border: none;
}

/* 自动展开感应区 */
#edge-hover-zone {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 5px;
  z-index: 10;
}

/* 隐藏元素 */
.hidden {
  display: none;
}
